In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/MonthlyProductSales.csv')

In [3]:
df.head(3)

,Month of Order Date,Product Name,Sales
0,2013-05-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
1,2015-06-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
2,2013-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",333.0

In [ ]:
# yearly sales summary
df.groupby(df['Month of Order Date'].str[:4]).describe().reset_index().rename(columns={'Month of Order Date': 'Year of Order'})

In [ ]:
# yearly product sales totals
df_export = df.groupby([df['Month of Order Date'].str[:4], 'Product Name']).sum().reset_index()
df_export.rename(columns={'Month of Order Date': 'Year of Order'})

In [ ]:
# overall product sales totals
df.groupby('Product Name').sum().reset_index()